{% extends "layout.html" %}
{% block body_content %}

<div class="form">
	<form method="POST" action="">

		<h1>My Account Details</h1>
		<h3>Name: {{ current_user.first_name }} {{ current_user.last_name }} </h3>
		<h3>University: {{ current_user.uni_name }} </h3>
		<h3>Joined Society: {{ current_user.soc_name }} </h3>
		<br><br>

<h2>Update Account</h2>
<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.first_name.label }}
				{% if form.first_name.errors %}
					{{ form.first_name }}
					<div class="error">
						{% for error in form.first_name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.first_name }}
				{% endif %}
			</div><br>
			<div class="form-group">
			{{ form.last_name.label }}
				{% if form.last_name.errors %}
					{{ form.last_name }}
					<div class="error">
						{% for error in form.last_name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.last_name }}
				{% endif %}
			</div><br>
			<div class="form-group">
			{{ form.email.label }}
				{% if form.email.errors %}
					{{ form.email }}
					<div class="error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email }}
				{% endif %}
			</div>
			<div class="form-group">
				<p>Please Select The Society You Wish To Join
				{% if form.SocietyName.errors %}
					{{ form.SocietyName }}
					<div class="error">
						{% for error in form.SocietyName.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.SocietyName }}
				{% endif %}</p>
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>

{% endblock body_content %}
