{% extends "layout.html" %}
{% block body_content %}
<div style="background:transparent !important" class="jumbotron text-center">
<h1 class="text-primary" style="text-align: center; font-size:40px">My Timeline</h1>        
<p>This page will display all your relevant notes made</p>

{% for note in notes %}
	<div class="container mt-5 mb-5 border border-primary rounded">
		<br>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h4><b>Title: {{ note.title }}</b></h4>
				<ul class="timeline">
					
						<p>Created On: <b>{{ note.date_posted }}</b> by <b>{{ note.mine.first_name }} {{ note.mine.last_name }}</b></p>
						<p><b>Content: </b>{{ note.content }}</p>
						<form action="{{ url_for('delete_post', note_id=note.id) }}" method="POST">
						<input type="submit" value="Delete Note">
					
				</ul>
			</div>
		</div>
	</div>

	{% endfor %}



{% endblock body_content %}
